{%extends "Homepage.html"%}
{%block content%}
<style>
    center
    {
        margin-top: 200px;
    }
</style>
<center><h1 class="panel-heading">Change Password</h1>
<form method="post">
    {%csrf_token%}
    <div class="panel panel-primary" style="height: 200px; width: 400px;">
<table class="table">
    <tr><td>Enter Login Id</td>
        <td><input type="text" name="uname" class="form-control" required></td></tr>
    <tr><td>Enter new Password</td>
        <td><input type="password" name="pass" class="form-control" required></td></tr>
    <tr><td colspan="2" align="center" ><button type="submit" class="btn btn-success">submit</button></td></tr>

</table></div>
</form></center>
{%endblock%}