{%extends "admin.html"%}
{%block content%}
    <div class="container">
        <div class="panel panel-primary col-sm-6" style="margin:250px;">
    <table class="table">
        <tr><td colspan="3" align="center"> <h2>Dashboard</h2></td></tr>
        <tr><td><b>Total Category</b></td>
            <td>{{cat_c}}</td><td><a href="category">View Details</a></td>
        </tr>
        <tr><td><b>Total Products</b></td>
            <td>{{prod_c}}</td><td><a href="product">View Details</a></td>
        </tr>
        <tr><td><b>Total Users</b></td>
            <td>{{user_c}}</td><td><a href="user">View Details</a></td>
        </tr>
        <tr><td><b>Total Orders</b></td>
            <td>{{count}}</td><td><a href="orders">View Details</a></td>
        </tr>
    </table>
    <hr>
    <a href="/"><button class="btn btn-link" style="margin:10px;">back To Homepage</button></a>
</div>
</div>
{%endblock%}